<nav class="navbar navbar-light bg-white shadow-sm mb-4 py-3">
    <div class="container">
        <span class="navbar-brand mb-0 h1 indico-text indico-logo">
            INDIC<span class="indico-logo-o"
                >O<svg
                    class="indico-logo-diamond"
                    viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path d="M10 0 Q20 10 10 20 Q0 10 10 0 Z" /></svg
            ></span>
            <span class="text-dark fs-5 fw-normal ms-1">Interview</span>
        </span>
        <a href="/logout" class="btn btn-outline-danger fw-bold">Logout</a>
    </div>
</nav>
